.heads{
   height:100%;
    /* background-color: whitesmoke; */
    padding-right:20px;
    background-image: linear-gradient(to left top,rgba(219, 9, 9, 0.8), rgba(51, 51, 51, 0.8));


  }
  button{
      margin-bottom: 10px;
      margin-left:5px;
      margin-top: 5px;
  }
  .p1{
      margin-left:80%;
      font-family: "Lato", sans-serif;
     
  }
  
  p{ 
      padding-right:10px;
      left:10px;

  }

  .body1{
    border:0px;
     height: 74vh;
     width: 100%;
     left:0px;
     right:0px;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;

     
     font-family: "Lato", sans-serif; 
     
   }
   mat1{ 
      max-width:200%;
       max-height:200%;
       font-family: "Lato", sans-serif;

   }
   ul{
       padding-left:20px;
       padding-right:80px;
       font-family: "Lato", sans-serif;
   }
   h4{
       padding-left: 10px;
   }
   mat-card-footer{
       background-color: #F4F6F7;
      
   }
   select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 01 black !important;
    background: white;
    color:black;
    /* background-image: none; */
  }
  /* Custom Select */
 

 
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #E74C3C;

    /* background-image: linear-gradient(#E74C3C , #EC7063); */
    background-image: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    /* background: #2c3e50; */
    background-image: linear-gradient( #E74C3C , #EC7063);
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    /* background: #34495e; */
    background-image: linear-gradient( #E74C3C , #EC7063);
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: red;
  }
  .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  .footer{
    
    padding: 0 0 0 18px;
  }
  .footer1{
    font-family: "Lato", sans-serif;
    height:15vh;
    background-color: #332b28;
    -webkit-font-smoothing: antialiased;
    color: rgba(255,255,255,.9);
    padding:40px;
    align-items: center;
    display:flex;
    justify-content: center;
    font-size:18px;
  }