
  h1{
    color:black;
  }
  .heading{
  margin-top: 0px;
  max-width:90%;
    padding:0px;
  margin-left:0px;
  font-size:20px;
  background-color: transparent;
  color:black;
  font-family: "Lato", sans-serif;
  }
  .heads{
    padding-left: 38%;
    padding-left: 32%;
    padding-top:2px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 11px;
    animation-duration: 2s;
    animation-name: fadeIn;
    position: -webkit-sticky;
    position: sticky;
  }
.full-width-layout{
  width: 100%;
}

  .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }
  .body1> .container>.form{
    display: flex;
    flex-direction:column;
    align-items: left;
  }
  .body1{
   border:0px;
    height: 90vh;
    width: 100%;
    left:0px;
    right:0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:  #b22222; */
    background-image: linear-gradient(to left top,rgba(219, 9, 9, 0.8), rgba(51, 51, 51, 0.8));
    font-family: "Lato", sans-serif;
  }

  .container{
      margin-top: 0px;
    /* max-width:90%; */
    /* box-shadow: 0px 2px 2px 2px azure; */
    padding:30px;
    /* border-radius: 20px ; */
    /* margin-bottom: 40px;
    margin-top: 40px; */
    border-radius: 10px ;
    box-shadow: 1px 1px 1px 1px #ededed;
    background-color: azure;
    width:420px;
    margin-bottom: 80px;
    margin-top: 50px;
 
  }
  .mat-form-field{
    width: 300px;
  }
  .heading{
     
      margin-top: 0px;
      max-width:90%;
      /* box-shadow: 0px 2px 2px 2px azure; */
      padding:10px;
      /* border-radius: 20px ; */
      /* margin-bottom: 40px;
      margin-top: 40px; */
      background-color: transparent;
      color:black
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 250px;
  }
  .example-full-width-lname{
      padding-left:20px;
      width: 250px;
      padding-right:30px;
  }

  .example-full-width-email{
    width: 520px;
  }
  .div-gender{
      position: relative;
      left:30%;
  }

  .footer{
    font-family: "Lato", sans-serif;
    height:15vh;
    background-color: #332b28;
    -webkit-font-smoothing: antialiased;
    color: rgba(255,255,255,.9);
    padding:40px;
    align-items: center;
    display:flex;
    justify-content: center;
    font-size:18px;
  }