<mat-toolbar class="nav"> <strong>ONLINE TECHNICAL TEST </strong> </mat-toolbar>  
<div class="body1">  

  <div class="container">
    <div class="heading"><strong>Register</strong></div>
      <form class="form" [formGroup]="createForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
          <td><mat-form-field class="example-full-width">
            <input type="text" autocomplete="off" matInput placeholder="First name*" formControlName="fname">
              <mat-error>please enter valid name</mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width-lname">
            <input type="text" autocomplete="off" matInput placeholder=" Last Name*" formControlName="lname">
              <mat-error>please enter valid name</mat-error>
          </mat-form-field></td>
          </tr>
          </table>

          <mat-form-field class="example-full-width-email">
            <input type="email" autoComplete="off"  matInput placeholder="email*" formControlName="email">
              <mat-error>please enter valid Email</mat-error> </mat-form-field><br/>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Phone*" formControlName="phone">
                <mat-error>please enter valid Phone Number</mat-error></mat-form-field></td>
            <td><mat-form-field class="example-full-width-lname">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="DOB" formControlName="date1">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </tr>
          </table>

          <mat-form-field class="example-full-width-email">
            <input type="text" autoComplete="off"  matInput placeholder="Address" formControlName="Address">
          </mat-form-field><br/>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput  type="password" placeholder="Password" formControlName="password">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width-lname">
            <input matInput  type="password"  placeholder=" Confirm Password" formControlName="cpassword">
             </mat-form-field></td>
            </tr>
          </table>
        <div class="div-gender">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group><br>
        </div>

        <div class="formchild">
          <button type="button" mat-flat-button color="primary" [disabled]="createForm.invalid" (click)="submited()">Register</button> 
        </div>
    </form>
  </div>
</div>
<mat-toolbar class="footer">Made  @ Accion Labs, Inc.</mat-toolbar>  

